CART_SERVICE_PORT=4001
ORDER_SERVICE_PORT=4003
AUTH_SERVICE_PORT=4004
BETTER_AUTH_SECRET=replace-with-openssl-rand--base64-32
BETTER_AUTH_URL=http://localhost:4004
FRONTEND_URL=http://localhost:3000
ADMIN_URL=http://localhost:3002
STRIPE_PUBLIC_KEY=
STRIPE_SECRET_KEY=
NEXT_PUBLIC_CART_SERVICE_URL=http://localhost:10000
NEXT_PUBLIC_PRODUCT_SERVICE_URL=http://localhost:4000
NEXT_PUBLIC_ORDER_SERVICE_URL=http://localhost:4001
NEXT_PUBLIC_AUTH_SERVICE_URL=http://localhost:4004

